$color-grey-dark:         #333;
$color-grey-medium-dark:  #bbb;
$color-grey-medium:       #ccc;
$color-grey-medium-light: #ddd;
$color-grey-light:        #eee;

$color-white: #fff;
$color-green: #4c2;
$color-red:   #e43;
$color-blue:  #48c;
